@import "~bootstrap/scss/bootstrap";

html, body{
  height: 100%;
}


// mixins, variables
$grey: #dddde2;
$blue: #7d4ce9;

.multiple_bgr{
  background-image: url("../sass/img/drop.png"), url("../sass/img/lines_down.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-color: $grey;
}

.vh100{
  height: 100vh;
}

.image{
  background-image: url("../img/small_box_bgr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.filter{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color:#000000;
  background-color:$grey;
	opacity: 0.5;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

// .lines{
//   position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
//   background-image: url("../img/lines_transp.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

.form_box{
  background-color: #ffffff;
  padding-top:3%;
  padding-bottom:3%;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  p{
    margin-bottom: 5%;
  }
}

input{
  padding: 8px;
}

.line_input{
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid $grey !important;
}

.dashcontrol {
	position: relative;
  input{
    border: 2px solid $grey;
    border-radius: 0 !important;
  }
}
.dashcontrol:not(:last-child):after {
    content: '-';
    color: $grey;
    font-weight: bold;
    top: 4px;
    width: 5px;
    height: 5px;
    position: absolute;
    right: -3px;
  }

// .submitholder{
//   position: relative;
// }

#submit_btn{
  padding: 5px 10px 5px 10px;
  background-color: #fb9c06;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  border: 0px;
  text-align: center;
  margin-top: 5%;
  float: right;
}
// #submit_btn div:first-of-type{
//   float: left;
// }


header{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  padding-bottom: 10px;
}

.v-center{
  position: relative;
  transform: translatey(-50%);
  top: 50%;
}


.border_grey{
  border: 1px solid #dddde2;
}

header{
  margin-bottom: 0;
}

label{
  margin-top: 10px;
}

.form-inline{
  margin-bottom: 10px;
}

.wide{
  width: 100%;
}

.space{
  margin-left: 10px;
}

@media (max-width: 1200px) {
    .form-control{
      padding: 5px 5px 5px 5px;
    }
}

// media queries

@media(max-width:992px){
  .dashcontrol:not(:last-child):after{
    content: none;
  }
}

@media(max-width: 768px){
  #submit_btn{
    position: static;
    margin-top: 10px;
  }
  .submitholder{
    justify-content: flex-end;
  }
  .vh100{
    height: auto;
  }
  .dashcontrol input{
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .gender{
    text-align: center;
  }
}


// helper classes
.border_red{
  border: 1px solid red;
}

.white{
  color: white;
}

//ghost css to debug
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
